# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDE / OS
.idea/
.vscode/
*.DS_Store
Thumbs.db

# Notebooks checkpoints
.ipynb_checkpoints/

# Generated data
*.csv
*.mp4

# Plots / figures
*.png
*.jpg
*.pdf

